{{ include('@BoTheme/partials/main.html.twig') }}

<head>

    {{ include('@BoTheme/partials/title-meta.html.twig', {title: 'Dashboard'}) }}

    <!-- jsvectormap css -->
    <link href="../../../bundles/botheme/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="../../../bundles/botheme/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    {{ include('@BoTheme/partials/head-css.html.twig') }}

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('@BoTheme/partials/menu.html.twig') }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content"> 
            <div class="page-content">
                <div class="container-fluid">
                    {% block container %}

                    {% endblock %}
                </div>
                <!-- container-fluid -->
            </div>
 
            <!-- End Page-content -->
            {{ include('@BoTheme/partials/footer.html.twig') }}
        </div>
       
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    {{ include('@BoTheme/partials/customizer.html.twig') }}

    {{ include('@BoTheme/partials/vendor-scripts.html.twig') }}

    <!-- apexcharts -->
    <script src="../../../bundles/Botheme/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="../../../bundles/Botheme/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="../../../bundles/Botheme/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="../../../bundles/Botheme/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="../../../bundles/Botheme/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="../../../bundles/Botheme/js/app.js"></script>

    <!-- Webix files -->
	<script src="../../../bundles/Botheme/js/webix/webix.js" type="text/javascript" charset="utf-8"></script>
    <script>
        webix.ui(
                    {
                        autoheight:true,
                        view: "datatable",
                         columns:[
                            { id:"id", header:"Id", css:"rank"},
                            { id:"name", header:"Name"},
                            { id:"qty", header:"Qty"},
                            { id:"description", header:"description", fillspace: true},
                            
                        ],
                        autoheight:true,
                        scroll: "auto",
                        url:"https://127.0.0.1:8000/admin/products/list_products",
                        container: "content1"
                    }
            );
    </script>
</body>

</html>