{% extends '@BoTheme/base.html.twig' %}

{% block container %}
    <!-- Webix files -->
    {# <link rel="stylesheet" href="../../../bundles/botheme/css/webix/webix.css" type="text/css" charset="utf-8" > #}
    <link rel="stylesheet" href="https://cdn.webix.com/site/webix.css" type="text/css" charset="utf-8" > 
    {# <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css"> #}
    <div class="row">
        <h5 class="mb-3">{{ 'products'|trans|capitalize }}</h5>
        <div class="card">
            {{ form_start(productForm) }}
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">{{ 'add_new_product'|trans|capitalize }}</h4>
                <div class="flex-shrink-0">
                    <button type="submit" class="btn btn-primary waves-effect waves-light btn-sm" type="button" data-toast data-toast-text="Your application was successfully sent" data-toast-gravity="top" data-toast-position="center" data-toast-className="success" data-toast-duration="3000">
                        save
                    </button> 
                </div>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label for="product_form_name" class="form-label">Product Name</label>
                            {{ form_widget(productForm.name) }}
                        </div>

                        <div>
                            <label for="product_form_qty" class="form-label">Product qty</label>
                            {{ form_widget(productForm.qty) }}
                        </div>

                        <div>
                            <label for="product_form_qty" class="form-label">Product description</label>
                            {{ form_widget(productForm.description) }}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body bg-light m-2 p-4">
                            <div class="row">
                                <div class="col-xl-6">
                                     {{ form_widget(productForm.ean, {'id': 'input_ean', 'attr': {'class': 'form-control'}}) }}
                                </div><!-- end col -->
                                <div class="col-xl-6">
                                    <div class="input-group">
                        
                                        <select class="form-select" id="select_ean" aria-label="Example select with button addon">
                                            <option selected="">Choose...</option>
                                            <option value="1234567">ean8</option>
                                            <option value="123456789012">ean13</option>
                                            <option value="12345678901">upcA</option>
                                        </select>
                                        <button type="button" class="btn tn-outline-secondary btn-primary btn-animation waves-effect waves-light" data-text="Primary" id="btn_generate_code"><span>Genirate Code</span></button>
                                    </span>
                                </div>
                                <!-- end col -->
                            </div>
                            <div class="row">
                                <div class="col-xl-6" id="barcode_type">
                                    
                                </div>
                                <!-- end col -->
                                <div class="col-xl-6">
                                    
                                </div><!-- end col -->
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(productForm) }}
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div><!--end row-->
    <!-- Webix files -->
	{# <script src="../../../bundles/Botheme/js/webix/webix.js" type="text/javascript" charset="utf-8"></script> #}
    <script src="https://cdn.webix.com/site/webix.js" type="text/javascript" charset="utf-8"></script>
    {# <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script> #}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
    webix.ready(function(){
        code = "ean13";
        value = "123456789012";
        $("#input_ean").val(value);
        var barcode = webix.ui({

            container:"barcode_type",    
            view:"barcode",
            id:"barcode",
            height: 80,
            type: code,
            value:value,
            paddingX: 10,
            color: "#000"
           
        });
    

      function showBarcode(code, value){
            $$("barcode").define("type",code);
            $$("barcode").setValue(value);
        }

            $( "#select_ean" ).change(function() {
                var value = "";
                var code = "";
                $( "select option:selected" ).each(function() {
            value += $( this ).val();
            code += $( this ).text();
            $("#input_ean").val(value);
            showBarcode(code, value);
            });

            $( "#btn_generate_code" ).click(function() {
                input_value = $("#input_ean").val();
                showBarcode(code, input_value);
            });
        });

    });
    </script>
{% endblock %}