{% extends '@BoTheme/base.html.twig' %}

{% block container %}
    <!-- Webix files -->
    {# <link rel="stylesheet" href="../../../bundles/botheme/css/webix/webix.css" type="text/css" charset="utf-8" > #}
    <link rel="stylesheet" href="https://cdn.webix.com/site/webix.css" type="text/css" charset="utf-8" > 
    {# <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css"> #}
    <div class="row">
        <div class="col-xxl-6">
            <h5 class="mb-3">{{ 'products'|trans|capitalize }}</h5>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">{{ 'add_new_product'|trans|capitalize }}</h4>
                </div>
                <!-- end card header -->
                <div class="card-body form-steps">
                    {{ form_start(productForm) }}
                    <div class="row">
                        <div class="col-lg-4">
                            <div>
                                <label for="product_form_name" class="form-label">Product Name</label>
                               {{ form_widget(productForm.name) }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body bg-light m-2 p-4">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input type="text" class="form-control" placeholder="text" id="cleave-date">
                                    </div><!-- end col -->
                                    <div class="col-xl-6">
                                        <div class="input-group">
                          
                                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                <option selected="">Choose...</option>
                                                <option value="ean8">ean8</option>
                                                <option value="ean13">ean13</option>
                                                <option value="upcA">ean13</option>
                                            </select>
                                            <button type="button" class="btn tn-outline-secondary btn-primary btn-animation waves-effect waves-light" data-text="Primary"><span>Genirate Code</span></button>
                                        </span>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <div class="row">
                                    <div class="col-xl-6" id="barcode_type">
                                        
                                    </div>
                                    <!-- end col -->
                                    <div class="col-xl-6">
                                        
                                    </div><!-- end col -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(productForm) }}
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div><!--end col-->
    </div><!--end row-->
    <!-- Webix files -->
	{# <script src="../../../bundles/Botheme/js/webix/webix.js" type="text/javascript" charset="utf-8"></script> #}
    <script src="https://cdn.webix.com/site/webix.js" type="text/javascript" charset="utf-8"></script>
    {# <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script> #}
    <script>
      var codes = {
        "ean8": "1234567",
        "ean13": "123456789012",
        "upcA": "12345678901"
    };
    webix.ready(function(){
        var barcode = webix.ui({

            container:"barcode_type",    
            view:"barcode",
            id:"barcode",
            height: 80,
            type:"ean13",
            value:"123456789012"
        });
    });
    </script>
{% endblock %}